table.list {
    width: 800px;
}
table.list tr {
/*    width: 33.3333%;*/
    width: 800px;
    border: solid 1px #000000;
}
table.list th {
/*    width: 33.3333%;*/
    border: solid 1px #000000;
}
table.list td {
/*    width: 33.3333%;*/
    border: solid 1px #000000;
}